<!-- Comida -->
<transport-recomendations-component></transport-recomendations-component>

<restaurant-recomendations-component></restaurant-recomendations-component>



<!-- Móvil y Conectividad -->
<mat-expansion-panel class="section-card">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="panel-icon">phone_iphone</mat-icon>
      Móvil y Conectividad
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>

  <!-- Moneda -->
<mat-expansion-panel class="section-card">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="panel-icon">paid</mat-icon>
      Moneda
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>




