<div class="content-container">

  <mat-accordion>

    <p>
      <strong class="accent-text">Descubre consejos esenciales para que tu viaje sea inolvidable.</strong> 
      En esta sección hemos recopilado información detallada y práctica sobre todo lo que necesitas para disfrutar al máximo de tu experiencia en Japón. 
      Desde cómo moverte con facilidad en el transporte público, hasta dónde encontrar los mejores restaurantes y cómo optimizar tu presupuesto 
      con tarjetas electrónicas y moneda local.
    </p>
        
    <p>
      <strong class="accent-text">¡No esperes más!</strong> Empieza explorando las secciones a continuación y conviértete en un experto planificando tu aventura japonesa.
    </p>

    <transport-recomendations-component></transport-recomendations-component>

    <restaurant-recomendations-component></restaurant-recomendations-component>

    <hotel-recomendations-component></hotel-recomendations-component>

    <conect-recomendations-component></conect-recomendations-component>

    <dinero-recomendations-component></dinero-recomendations-component>

    <idioma-recomendations-component></idioma-recomendations-component>

  </mat-accordion>

</div>


