<div class="sticky-tab-header mobile-tab-style">
  <div
    class="custom-tab-label"
    [class.active]="selectedTabIndex === 0"
    (click)="onTabChanged(0)">
    <mat-icon class="custom-icon">travel_explore</mat-icon>
    <span class="custom-tab-text">Inicio</span>
  </div>

  <div
    class="custom-tab-label"
    [class.active]="selectedTabIndex === 1"
    (click)="onTabChanged(1)">
    <mat-icon class="custom-icon">thumb_up</mat-icon>
    <span class="custom-tab-text">Recomendaciones</span>
  </div>

  <div
    class="custom-tab-label"
    [class.active]="selectedTabIndex === 2"
    (click)="onTabChanged(2)">
    <mat-icon class="custom-icon">route</mat-icon>
    <span class="custom-tab-text">Itinerario</span>
  </div>

  <div
    class="custom-tab-label"
    [class.active]="selectedTabIndex === 3"
    (click)="onTabChanged(3)">
    <mat-icon class="custom-icon">euro_symbol</mat-icon>
    <span class="custom-tab-text">Precio</span>
  </div>
</div>

<div class="tab-content">
  <ng-container [ngSwitch]="selectedTabIndex">
    <div *ngSwitchCase="0">
      <init-polonia-component (goToItinerary)="handleGoToItinerary($event)"></init-polonia-component>
    </div>
    <div *ngSwitchCase="1">
      <polonia-recomendations-component></polonia-recomendations-component>
    </div>
    <div *ngSwitchCase="2">
      <polonia-itinerary-component [currentTab]="selectedTabIndex"></polonia-itinerary-component>
    </div>
    <div *ngSwitchCase="3">
      <polonia-price-component></polonia-price-component>
    </div>
  </ng-container>
</div>
