<mat-expansion-panel 
  [(expanded)]="panelOpenState" 
  (opened)="onPanelStateChange(true)" 
  (closed)="onPanelStateChange(false)"
  class="{{ borderClass }}">
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ day.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>



  <!-- Botones de acceso en móvil -->
  <div class="mobile-action-buttons">
    <button mat-raised-button color="primary" (click)="toggleGallery()">Galería</button>
    <button mat-raised-button color="accent" (click)="toggleDescription()">Descripción</button>
  </div>

  <!-- Contenedor de la actividad actual -->
  <div class="activity-container">
    
    <div class="activity-description">
      <h3>{{ day.activities[currentActivityIndex].name }}</h3>
      <p class="description-text" [innerHTML]="day.activities[currentActivityIndex].description"></p>
    </div>

    <div class="activity-image">
      <img [src]="day.activities[currentActivityIndex].images[currentImageIndex]" 
            [alt]="day.activities[currentActivityIndex].name">
      <!-- Controles de imagen -->
      <div class="gallery-controls" *ngIf="day.activities[currentActivityIndex].images.length > 1">
        <button mat-icon-button (click)="changeImage(-1)" [disabled]="currentImageIndex === 0" class="btn">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="changeImage(1)" 
                [disabled]="currentImageIndex === day.activities[currentActivityIndex].images.length - 1" class="btn">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="activity-map" #map></div>
  </div>

  <!-- Navegación entre actividades -->
  <div class="activity-navigation">
    <div
      *ngFor="let activity of day.activities; let i = index"
      class="activity-indicator"
      [class.active]="i === currentActivityIndex"
      (click)="selectActivity(i)">
    </div>
  </div>

  <!-- Botones de control -->
  <div class="controls-container col-2">
    <div class="carousel-control">
      <button mat-button (click)="changeActivity(-1)" [disabled]="currentActivityIndex === 0">
        Anterior
      </button>
      <button mat-button (click)="changeActivity(1)" 
              [disabled]="currentActivityIndex === day.activities.length - 1">
        Siguiente
      </button>
    </div>
    
    <button 
      class="rescale-control"
      mat-button (click)="rescaleMap()">Reescalar Mapa</button>
  </div>

  <!-- Popup de descripción -->
  <div class="mobile-description-overlay" [class.visible]="isDescriptionVisible">
    <div class="wrapper-pop-up">
      <div class="mobile-description-content">
        <h3 style="color: black;">{{ day.activities[currentActivityIndex].name }}</h3>
        <p class="description-text" [innerHTML]="day.activities[currentActivityIndex].description"></p>
      </div>
      <div class="button-container">
        <div class="close-description" (click)="toggleDescription()">
          <mat-icon>close</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup de galería -->
  <div class="mobile-description-overlay" [class.visible]="isGalleryVisible">
    <div class="wrapper-pop-up">
      <div class="mobile-description-content">
        <img 
          [src]="day.activities[currentActivityIndex].images[currentImageIndex]" 
          [alt]="day.activities[currentActivityIndex].name"
          style="width: 100%; border-radius: 8px;">
        
        <!-- Controles de imagen -->
        <div class="gallery-controls" *ngIf="day.activities[currentActivityIndex].images.length > 1">
          <button mat-icon-button (click)="changeImage(-1)" [disabled]="currentImageIndex === 0" class="btn">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button (click)="changeImage(1)" 
                  [disabled]="currentImageIndex === day.activities[currentActivityIndex].images.length - 1" class="btn">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>

      <div class="button-container">
        <div class="close-description" (click)="toggleGallery()">
          <mat-icon>close</mat-icon>
        </div>
      </div>
    </div>
  </div>

</mat-expansion-panel>
