<div class="content-container">
    <mat-tab-group>
      <!-- Tab Inicio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">home</mat-icon>
          <span class="custom-tab-text">Inicio</span>
      </ng-template>
        <p>Bienvenido a la guía de viaje de Praga - Bratislava - Budapest.</p>
        <p>Por ahora solo esta disponible el itinerario.</p>
      </mat-tab>
  
      <!-- Tab Recomendaciones -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">star</mat-icon>
          <span class="custom-tab-text">Recomendaciones</span>
        </ng-template>
        <p>Aquí están nuestras recomendaciones para tu viaje.</p>
      </mat-tab>
  
      <!-- Tab Itinerario -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">route</mat-icon>
          <span class="custom-tab-text">Itinerario</span>
        </ng-template>
    

        <app-itinerary-day-card 
            [borderClass]="'border-purple'"
            [day]="{
                title: 'Día 01 - Praga: Kutná Hora',
                activities: [
                {
                    name: 'Vuelo a Praga',
                    description: 'Salimos en el vuelo a las 9:35h y llegamos a Praga a las 12:25h. Preferimos un vuelo de mañana ya que no existiían muchas otras ofertas y además así aprobechamos toda la tarde en el destino.\n\n El precio del billete fue de 91€ por persona. La duración del mismo son 3h.',
                    images: [],
                    longitude: -3.56804,
                    latitude: 40.48401,
                    mapUrl: ''
                },
                {
                    name: 'Aeropurto de Praga - Coche alquiler',
                    description: 'Aterrizamos sobre las 12:25 en el aeropuerto de Praga(PRG). Lo primero que haremos será cambiar algo de dinero en alguna máquina ATM para poder disponer de moneda local, la corona checa (Kc). En nuestro caso a fecha del 10/2024 el cambio era de 4€ equivalen a 100 Kc.\n\n Tras realizar el cambio de divisa nos dispondremos a recoger el coche de alquiler. Tras consultar numerosas páginas web y comaprar precios, llegamso a la conclusión que la mejor opción es recogerlo y devolverlo en el aeropuerto, ya que si lo quisieramos devolver en alguna oficina del centro (cercana al hotel) elevaba el precio. Utilizamos el comparador de precios de rentalcars y reservamos un Volkswagen Polo por 21€/día + 20€ de seguro.\n\nWeb comparadora de coches: https://www.rentalcars.com/en/',
                    images: ['/assets/budapest/Dia01/capturaCocheAlquiler.jpg'],
                    longitude: 14.26317037953236,
                    latitude: 50.10195610543177,
                    mapUrl: ''
                },
                {
                    name: 'Kutná Hora - Osario de Sedlec',
                    description: 'Tras recoger el coche nos dispondremos para ir a Kutná Hora, el trayecto es de 1:30 horas.\n\n Una vez allí visitamos el Osario de Sedlec entre las 15:00 y las 16:00. Este osario es uno de los sitios más emblemáticos e impresionantes de la región de Kutná Hora, situado en la iglesia del Cementerio de Todos los Santos. Lo que lo hace único es que sus interiores están decorados con huesos humanos, organizados artísticamente para formar candelabros, cruces y otras estructuras, lo que le otorga una atmósfera solemne pero fascinante. \n\n El horario del Osario es de 9:00 a 17:00h y el precio de la entrada es de 7€, en nuestro caso la adquirimos online en la web: https://tickets.sedlec.info/',
                    images: ['/assets/budapest/Dia01/.jpg'],
                    longitude:  15.288720505888634,
                    latitude:49.96039308374713,
                    mapUrl: 'map-sedlec'
                },
                {
                    name: 'Kutná Hora - Iglesia de Santa Bárbara',
                    description: 'Sobre las 16:30 visitamos la Iglesia de Santa Bárbara, que cierra a las 18:00. este trayecto desde el Osario lo haremos en coche ya que vamos algo justos de tiempo. \n\nEste monumento gótico, declarado Patrimonio Mundial de la UNESCO, es uno de los ejemplos más importantes de la arquitectura gótica en Europa Central. Su construcción comenzó en 1388 y fue completada varios siglos después, lo que explica la mezcla de estilos arquitectónicos que se pueden observar. La iglesia está dedicada a Santa Bárbara, la patrona de los mineros, lo que refleja la rica historia minera de Kutná Hora, una ciudad conocida por sus minas de plata.',
                    images: ['/assets/budapest/Dia01/.jpg'],
                    longitude: 15.263233774755731,
                    latitude: 49.945228547050945, 
                    mapUrl: 'map-santa-barbara'
                },
                {
                    name: 'Kutná Hora - Praga: Check In',
                    description: 'Tras realizar toda la visita a Kutná Hora, nuetsra intención es volver con el coche al hotel y realizar el Check-In, de esta forma podemos dejar las maletas e ir posteriormente a la devolución del coche al aeropuerto en el mismo.',
                    images: ['/assets/budapest/Dia01/.jpg'],
                    longitude: 14.418228656633708,
                    latitude: 50.08246157856821, 
                    mapUrl: 'map-santa-barbara'
                },
                {
                    name: 'Praga - Cena y paseo nocturno',
                    description: 'Una vez realizada la devolución del coche en el aeropuerto de Praga tenemos que volver en transporte públio  hasta el centro de la ciudad y aprovecharemos tanto para cenar como para un paseo nocturno.\n\nLa vuelta desde el aeropuerto se puede realizar de muchas formas, pero casi todas constan de un primer tramo en bus y un segundo tramo en tren. Una opción sería tomar un bus , Capolinea Bus 119, hasta Nádraží Veleslavín (8 paradas - 15 min) y posteriormente un tren hasta Můstek(6 paradas - 10 min).',
                    images: ['/assets/budapest/Dia01/.jpg'],
                    longitude: 14.423587297844866,
                    latitude: 50.0842193941157, 
                    mapUrl: 'map-santa-barbara'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-purple'"
            [day]="{
                title: 'Día 02 - Praga: Castillo de Praga y Torre de Petrín',
                activities: [
                {
                    name: 'Castillo de Praga',
                    description: 'Explora el majestuoso Castillo de Praga, la fortaleza más grande del mundo según el Libro Guinness de los Récords. Fundado en el siglo IX, este imponente complejo es una mezcla de estilos arquitectónicos que reflejan la historia checa. La entrada exterior es gratuita, pero para acceder al interior y visitar las distintas secciones del castillo, el precio es de 15€. Abierto todos los días de 6:00 a 22:00h. \n\n En nuestro caso lo que realizamos es un Free Tour donde nos mostraron todos los monumentos (por fuera) de 10-12:30h, de todas formas, realices Free Tour o no, te recomendamos llegar temprano para evitar las multitudes y disfruta de la vista panorámica de la ciudad desde los jardines del castillo.',
                    images: ['/assets/europa/castillo_praga.jpg'],
                    longitude: 14.3995,
                    latitude: 50.0900,
                    mapUrl: 'map-castillo-praga'
                },
                {
                    name: 'Catedral de San Vito',
                    description: 'Admira la imponente Catedral de San Vito, una joya de la arquitectura gótica. Es el lugar donde se coronaron los reyes de Bohemia y alberga las reliquias de San Vito, San Venceslao y San Adalberto. Entrada gratuita para acceder a las áreas principales, pero algunas secciones requieren ticket (parte de la entrada del Castillo). La catedral alberga la Capilla de San Wenceslao, cuya decoración es en gran parte de oro y piedras preciosas. Se puede subir a la torre pero cuesta unos 10€, sin embargo, las vistas desde arriba son espectaculares. \n\n Horarios: Lunes a Sábado de 9:00 a 18:00h, y Domingos de 12:00 a 18:00h. ',
                    images: ['/assets/europa/catedral_san_vito.jpg'],
                    longitude: 14.4004,
                    latitude: 50.0908,
                    mapUrl: 'map-catedral-san-vito'
                },
                {
                    name: 'Palacio Antiguo Real',
                    description: 'Visita el Palacio Antiguo Real, residencia de los reyes checos hasta el siglo XVI. Destaca por la Sala Vladislao, una de las más grandes de la época, con un techo de bóveda impresionante y el lugar donde se celebraban torneos de caballería en interiores. Incluido en la entrada del Castillo de Praga. La sala Vladislao fue diseñada para que los caballos pudieran subir las escaleras y participar en las ceremonias. No te pierdas la vista desde las ventanas, que ofrece una perspectiva única del complejo del castillo y el paisaje de Praga.\n\n Horario: 9:00 a 17:00h.',
                    images: ['/assets/europa/palacio_antiguo_real.jpg'],
                    longitude: 14.4008,
                    latitude: 50.0906,
                    mapUrl: 'map-palacio-antiguo-real'
                },
                {
                    name: 'Basílica de San Jorge',
                    description: 'Descubre la Basílica de San Jorge, el templo románico más antiguo de Praga, fundado en el siglo X. Con su imponente fachada de ladrillo rojo, destaca por su interior sencillo pero fascinante. Incluido en la entrada del Castillo. La luz del sol de la tarde ilumina la fachada de una manera espectacular, así que planifica tu visita en ese horario si quieres hacer fotografías memorables.\n\n  Horario: 9:00 a 17:00h.',
                    images: ['/assets/europa/basilica_san_jorge.jpg'],
                    longitude: 14.4011,
                    latitude: 50.0903,
                    mapUrl: 'map-basilica-san-jorge'
                },
                {
                    name: 'Palacio Lobkowitz',
                    description: 'El Palacio Lobkowitz, una joya barroca dentro del complejo del Castillo de Praga, alberga una increíble colección privada de la familia Lobkowitz. El museo incluye obras de arte, instrumentos musicales históricos y manuscritos originales de Beethoven y Mozart. En nuestro caso no llegamo a entrar. \n\n Entrada: 12€. Horario: 10:00 a 18:00h. ',
                    images: ['/assets/europa/palacio_lobkowitz.jpg'],
                    longitude: 14.4020,
                    latitude: 50.0902,
                    mapUrl: 'map-palacio-lobkowitz'
                },
                {
                    name: 'Callejón del Oro',
                    description: 'Pasea por el pintoresco Callejón del Oro, famoso por sus pequeñas casas de colores brillantes que datan del siglo XVI. Según la leyenda, aquí vivían los alquimistas que intentaban convertir metales en oro. Hoy, las casas albergan pequeñas tiendas y exposiciones. Entrada: Incluida en el ticket del Castillo. Horario: 9:00 a 17:00h. Curiosidad: El escritor Franz Kafka vivió brevemente en una de las casas del Callejón del Oro. Consejo: Visítalo al final del día para disfrutar del ambiente tranquilo, ya que suele llenarse de turistas por la mañana.',
                    images: ['/assets/europa/callejon_oro.jpg'],
                    longitude: 14.4025,
                    latitude: 50.0909,
                    mapUrl: 'map-callejon-del-oro'
                },
                {
                    name: 'Isla Kampa y Muro de John Lennon',
                    description: 'Visitamos la Isla Kampa y el Muro de John Lennon, seguido por un paseo por los jardines de Petřín.',
                    images: ['/assets/europa/muro_john_lennon.jpg'],
                    longitude: 14.4052,
                    latitude: 50.0810,
                    mapUrl: 'map-isla-kampa'
                },
                {
                    name: 'Torre de Petřín',
                    description: 'Subimos a la Torre de Petřín para disfrutar de vistas panorámicas, utilizando el funicular (1€) y pagando la entrada (12€).',
                    images: ['/assets/europa/torre_petrin.jpg'],
                    longitude: 14.3920,
                    latitude: 50.0800,
                    mapUrl: 'map-torre-petrin'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-purple'"
            [day]="{
                title: 'Día 02 - Praga: Barrio Judío y Ciudad Vieja',
                activities: [
                {
                    name: 'Free Tour - Barrio Judío de Praga',
                    description: 'Recorremos el barrio judío y visitamos sus sinagogas y el cementerio judío. La entrada cuesta 20€ y permite el acceso a todas las sinagogas.',
                    images: ['/assets/europa/barrio_judio.jpg'],
                    longitude: 14.4170,
                    latitude: 50.0880,
                    mapUrl: 'map-barrio-judio'
                },
                {
                    name: 'Ciudad Vieja',
                    description: 'Visitamos la Plaza de la Ciudad Vieja, el Reloj Astronómico y la Iglesia de Nuestra Señora de Tyn.',
                    images: ['/assets/europa/ciudad_vieja.jpg'],
                    longitude: 14.4208,
                    latitude: 50.0875,
                    mapUrl: 'map-ciudad-vieja'
                },
                {
                    name: 'Torre de la Pólvora y Torre Astronómica',
                    description: 'Visitamos la Torre de la Pólvora (4€) y la Torre Astronómica (9€) para disfrutar de vistas panorámicas de Praga.',
                    images: ['/assets/europa/torre_polvora.jpg'],
                    longitude: 14.4289,
                    latitude: 50.0873,
                    mapUrl: 'map-torre-polvora'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-yellow'"
            [day]="{
                title: 'Día 04 - Bratislava',
                activities: [
                {
                    name: 'Castillo de Bratislava',
                    description: 'Visitamos el famoso Castillo de Bratislava con vistas impresionantes al río Danubio.',
                    images: ['/assets/europa/castillo_bratislava.jpg'],
                    longitude: 17.1000,
                    latitude: 48.1420,
                    mapUrl: 'map-castillo-bratislava'
                },
                {
                    name: 'Catedral de San Martín y Puerta de San Miguel',
                    description: 'Recorremos la Catedral de San Martín y la histórica Puerta de San Miguel, seguidas de un paseo por la Plaza Mayor.',
                    images: ['/assets/europa/catedral_san_martin.jpg'],
                    longitude: 17.1061,
                    latitude: 48.1449,
                    mapUrl: 'map-catedral-san-martin'
                },
                {
                    name: 'Iglesia Azul',
                    description: 'Terminamos el día con una visita a la hermosa Iglesia Azul, un ícono de la ciudad.',
                    images: ['/assets/europa/iglesia_azul.jpg'],
                    longitude: 17.1206,
                    latitude: 48.1457,
                    mapUrl: 'map-iglesia-azul'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 05 - Budapest: Zapatos en la Orilla del Danubio y Parlamento',
                activities: [
                {
                    name: 'Puente de las Cadenas y Zapatos en la Orilla del Danubio',
                    description: 'Caminamos por el Puente de las Cadenas y visitamos el monumento de los Zapatos en la Orilla del Danubio, recordando a las víctimas de la Segunda Guerra Mundial.',
                    images: ['/assets/europa/puente_cadenas.jpg'],
                    longitude: 19.0477,
                    latitude: 47.4980,
                    mapUrl: 'map-puente-cadenas'
                },
                {
                    name: 'Parlamento de Budapest',
                    description: 'Exploramos el majestuoso Parlamento de Budapest y la Plaza de la Libertad, con su Monumento a las Víctimas de la Ocupación Alemana.',
                    images: ['/assets/europa/parlamento_budapest.jpg'],
                    longitude: 19.0453,
                    latitude: 47.5079,
                    mapUrl: 'map-parlamento-budapest'
                },
                {
                    name: 'Szimpla Kert RUIN Bar',
                    description: 'Terminamos el día en el famoso Szimpla Kert RUIN Bar, disfrutando de la vida nocturna de Budapest.',
                    images: ['/assets/europa/szimpla_kert.jpg'],
                    longitude: 19.0676,
                    latitude: 47.4970,
                    mapUrl: 'map-szimpla-kert'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 06 - Budapest: Mercado Central y Colina Gellert',
                activities: [
                {
                    name: 'Mercado Central de Budapest',
                    description: 'Comenzamos el día explorando el Mercado Central de Budapest, donde encontramos recuerdos y comida típica húngara.',
                    images: ['/assets/europa/mercado_central_budapest.jpg'],
                    longitude: 19.0573,
                    latitude: 47.4860,
                    mapUrl: 'map-mercado-central-budapest'
                },
                {
                    name: 'Colina Gellert y Estatua de la Libertad',
                    description: 'Subimos a la Colina Gellert para visitar la iglesia en la cueva y disfrutar de las vistas panorámicas desde la Estatua de la Libertad.',
                    images: ['/assets/europa/colina_gellert.jpg'],
                    longitude: 19.0470,
                    latitude: 47.4869,
                    mapUrl: 'map-colina-gellert'
                },
                {
                    name: 'Castillo de Buda y Palacio Real',
                    description: 'Recorremos el Castillo de Buda y el Palacio Real, donde se encuentra la Galería Nacional Húngara.',
                    images: ['/assets/europa/castillo_buda.jpg'],
                    longitude: 19.0350,
                    latitude: 47.4965,
                    mapUrl: 'map-castillo-buda'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 07 - Budapest: Bastión de los Pescadores y Barrio Judío',
                activities: [
                {
                    name: 'Bastión de los Pescadores',
                    description: 'Madrugamos para visitar el Bastión de los Pescadores, un lugar icónico con vistas increíbles a la ciudad.',
                    images: ['/assets/europa/bastion_pescadores.jpg'],
                    longitude: 19.0345,
                    latitude: 47.5014,
                    mapUrl: 'map-bastion-pescadores'
                },
                {
                    name: 'Iglesia de Matías y Laberinto del Castillo de Buda',
                    description: 'Visitamos la Iglesia de Matías y exploramos el Laberinto del Castillo de Buda.',
                    images: ['/assets/europa/iglesia_matias.jpg'],
                    longitude: 19.0343,
                    latitude: 47.5009,
                    mapUrl: 'map-iglesia-matias'
                },
                {
                    name: 'Barrio Judío de Budapest',
                    description: 'Terminamos el día con un Free Tour por el Barrio Judío, visitando la Gran Sinagoga y monumentos históricos como el Memorial de Carl Lutz.',
                    images: ['/assets/europa/barrio_judio_budapest.jpg'],
                    longitude: 19.0631,
                    latitude: 47.4974,
                    mapUrl: 'map-barrio-judio-budapest'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 08 - Budapest: Basílica de San Esteban y Parque Varosliget',
                activities: [
                {
                    name: 'Basílica de San Esteban',
                    description: 'Visitamos la Basílica de San Esteban, donde se puede subir a la cúpula para disfrutar de vistas de la ciudad.',
                    images: ['/assets/europa/basilica_san_esteban.jpg'],
                    longitude: 19.0503,
                    latitude: 47.5009,
                    mapUrl: 'map-basilica-san-esteban'
                },
                {
                    name: 'Parque Varosliget y Plaza de los Héroes',
                    description: 'Exploramos el Parque Varosliget y la Plaza de los Héroes, donde se encuentra el Castillo de Vajdahunyad.',
                    images: ['/assets/europa/plaza_heroes.jpg'],
                    longitude: 19.0814,
                    latitude: 47.5145,
                    mapUrl: 'map-plaza-heroes'
                },
                {
                    name: 'Paseo por el Danubio',
                    description: 'Terminamos el día con un paseo por el Danubio, disfrutando de las vistas de Buda desde Pest.',
                    images: ['/assets/europa/danubio_budapest.jpg'],
                    longitude: 19.0480,
                    latitude: 47.4984,
                    mapUrl: 'map-danubio-budapest'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 09 - Budapest: Baños Szechenyi',
                activities: [
                {
                    name: 'Baños Széchenyi',
                    description: 'Nos relajamos en los famosos baños termales Széchenyi antes de ir al aeropuerto para nuestro vuelo de regreso.',
                    images: ['/assets/europa/banos_szechenyi.jpg'],
                    longitude: 19.0844,
                    latitude: 47.5189,
                    mapUrl: 'map-banos-szechenyi'
                }
                ]
            }">
        </app-itinerary-day-card>






    </mat-tab>








  
        
      <!-- Tab Precio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">euro_symbol</mat-icon>
          <span class="custom-tab-text">Precio</span>
        </ng-template>
        <p>Aquí encontrarás la información sobre los costos del viaje.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  

