<div class="content-container">
    <mat-tab-group [selectedIndex]="2">
      <!-- Tab Inicio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">home</mat-icon>
          <span class="custom-tab-text">Inicio</span>
      </ng-template>
        <p>Bienvenido a la guía de viaje de Praga - Bratislava - Budapest.</p>
        <p>Por ahora solo esta disponible el itinerario.</p>
      </mat-tab>
  
      <!-- Tab Recomendaciones -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">star</mat-icon>
          <span class="custom-tab-text">Recomendaciones</span>
        </ng-template>
        <p>Aquí están nuestras recomendaciones para tu viaje.</p>
      </mat-tab>
  
      <!-- Tab Itinerario -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">route</mat-icon>
          <span class="custom-tab-text">Itinerario</span>
        </ng-template>

        <PragaBudapest-itinerary-component></PragaBudapest-itinerary-component>

    </mat-tab>








  
        
      <!-- Tab Precio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">euro_symbol</mat-icon>
          <span class="custom-tab-text">Precio</span>
        </ng-template>
        <p>Aquí encontrarás la información sobre los costos del viaje.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  

