<div class="content-container">
    <mat-tab-group>
      <!-- Tab Inicio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">home</mat-icon>
          <span class="custom-tab-text">Inicio</span>
      </ng-template>
        <p>Bienvenido a la guía de viaje de Japón.</p>
      </mat-tab>
  
      <!-- Tab Recomendaciones -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">star</mat-icon>
          <span class="custom-tab-text">Recomendaciones</span>
        </ng-template>
        <p>Aquí están nuestras recomendaciones para tu viaje.</p>
      </mat-tab>
  
      <!-- Tab Itinerario -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">route</mat-icon>
          <span class="custom-tab-text">Itinerario</span>
        </ng-template>
    

        <app-itinerary-day-card 
            [borderClass]="'border-purple'"
            [day]="{
                title: 'Día 01 - Praga: Kutná Hora',
                activities: [
                {
                    name: 'Vuelo a Praga',
                    description: 'Salimos en el vuelo a las 9:35h y llegamos a Praga a las 12:25h. Recogemos el coche de alquiler sobre las 13:30.',
                    images: [],
                    longitude: 14.2567,
                    latitude: 50.10408,
                    mapUrl: ''
                },
                {
                    name: 'Kutná Hora - Osario de Sedlec',
                    description: 'Visitamos el Osario de Sedlec entre las 15:00 y las 16:00. Es uno de los sitios más emblemáticos de la región, y la entrada cuesta 7€.',
                    images: ['/assets/europa/osario_sedlec.jpg'],
                    longitude: 15.2885,
                    latitude: 49.9596,
                    mapUrl: 'map-sedlec'
                },
                {
                    name: 'Kutná Hora - Iglesia de Santa Bárbara',
                    description: 'A las 16:30 visitamos la Iglesia de Santa Bárbara, que cierra a las 18:00. Este monumento es parte del Patrimonio Mundial de la UNESCO.',
                    images: ['/assets/europa/iglesia_santa_barbara.jpg'],
                    longitude: 15.2682,
                    latitude: 49.9454,
                    mapUrl: 'map-santa-barbara'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-purple'"
            [day]="{
                title: 'Día 02 - Praga: Barrio Judío y Ciudad Vieja',
                activities: [
                {
                    name: 'Free Tour - Barrio Judío de Praga',
                    description: 'Recorremos el barrio judío y visitamos sus sinagogas y el cementerio judío. La entrada cuesta 20€ y permite el acceso a todas las sinagogas.',
                    images: ['/assets/europa/barrio_judio.jpg'],
                    longitude: 14.4170,
                    latitude: 50.0880,
                    mapUrl: 'map-barrio-judio'
                },
                {
                    name: 'Ciudad Vieja',
                    description: 'Visitamos la Plaza de la Ciudad Vieja, el Reloj Astronómico y la Iglesia de Nuestra Señora de Tyn.',
                    images: ['/assets/europa/ciudad_vieja.jpg'],
                    longitude: 14.4208,
                    latitude: 50.0875,
                    mapUrl: 'map-ciudad-vieja'
                },
                {
                    name: 'Torre de la Pólvora y Torre Astronómica',
                    description: 'Visitamos la Torre de la Pólvora (4€) y la Torre Astronómica (9€) para disfrutar de vistas panorámicas de Praga.',
                    images: ['/assets/europa/torre_polvora.jpg'],
                    longitude: 14.4289,
                    latitude: 50.0873,
                    mapUrl: 'map-torre-polvora'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-purple'"
            [day]="{
                title: 'Día 03 - Praga: Castillo de Praga y Torre de Petrín',
                activities: [
                {
                    name: 'Castillo de Praga',
                    description: 'Exploramos el Castillo de Praga, incluyendo la Catedral de San Vito, el Palacio Antiguo Real y la Basílica de San Jorge.',
                    images: ['/assets/europa/castillo_praga.jpg'],
                    longitude: 14.3995,
                    latitude: 50.0900,
                    mapUrl: 'map-castillo-praga'
                },
                {
                    name: 'Isla Kampa y Muro de John Lennon',
                    description: 'Visitamos la Isla Kampa y el Muro de John Lennon, seguido por un paseo por los jardines de Petřín.',
                    images: ['/assets/europa/muro_john_lennon.jpg'],
                    longitude: 14.4052,
                    latitude: 50.0810,
                    mapUrl: 'map-isla-kampa'
                },
                {
                    name: 'Torre de Petřín',
                    description: 'Subimos a la Torre de Petřín para disfrutar de vistas panorámicas, utilizando el funicular (1€) y pagando la entrada (12€).',
                    images: ['/assets/europa/torre_petrin.jpg'],
                    longitude: 14.3920,
                    latitude: 50.0800,
                    mapUrl: 'map-torre-petrin'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-yellow'"
            [day]="{
                title: 'Día 04 - Bratislava',
                activities: [
                {
                    name: 'Castillo de Bratislava',
                    description: 'Visitamos el famoso Castillo de Bratislava con vistas impresionantes al río Danubio.',
                    images: ['/assets/europa/castillo_bratislava.jpg'],
                    longitude: 17.1000,
                    latitude: 48.1420,
                    mapUrl: 'map-castillo-bratislava'
                },
                {
                    name: 'Catedral de San Martín y Puerta de San Miguel',
                    description: 'Recorremos la Catedral de San Martín y la histórica Puerta de San Miguel, seguidas de un paseo por la Plaza Mayor.',
                    images: ['/assets/europa/catedral_san_martin.jpg'],
                    longitude: 17.1061,
                    latitude: 48.1449,
                    mapUrl: 'map-catedral-san-martin'
                },
                {
                    name: 'Iglesia Azul',
                    description: 'Terminamos el día con una visita a la hermosa Iglesia Azul, un ícono de la ciudad.',
                    images: ['/assets/europa/iglesia_azul.jpg'],
                    longitude: 17.1206,
                    latitude: 48.1457,
                    mapUrl: 'map-iglesia-azul'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 05 - Budapest: Zapatos en la Orilla del Danubio y Parlamento',
                activities: [
                {
                    name: 'Puente de las Cadenas y Zapatos en la Orilla del Danubio',
                    description: 'Caminamos por el Puente de las Cadenas y visitamos el monumento de los Zapatos en la Orilla del Danubio, recordando a las víctimas de la Segunda Guerra Mundial.',
                    images: ['/assets/europa/puente_cadenas.jpg'],
                    longitude: 19.0477,
                    latitude: 47.4980,
                    mapUrl: 'map-puente-cadenas'
                },
                {
                    name: 'Parlamento de Budapest',
                    description: 'Exploramos el majestuoso Parlamento de Budapest y la Plaza de la Libertad, con su Monumento a las Víctimas de la Ocupación Alemana.',
                    images: ['/assets/europa/parlamento_budapest.jpg'],
                    longitude: 19.0453,
                    latitude: 47.5079,
                    mapUrl: 'map-parlamento-budapest'
                },
                {
                    name: 'Szimpla Kert RUIN Bar',
                    description: 'Terminamos el día en el famoso Szimpla Kert RUIN Bar, disfrutando de la vida nocturna de Budapest.',
                    images: ['/assets/europa/szimpla_kert.jpg'],
                    longitude: 19.0676,
                    latitude: 47.4970,
                    mapUrl: 'map-szimpla-kert'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 06 - Budapest: Mercado Central y Colina Gellert',
                activities: [
                {
                    name: 'Mercado Central de Budapest',
                    description: 'Comenzamos el día explorando el Mercado Central de Budapest, donde encontramos recuerdos y comida típica húngara.',
                    images: ['/assets/europa/mercado_central_budapest.jpg'],
                    longitude: 19.0573,
                    latitude: 47.4860,
                    mapUrl: 'map-mercado-central-budapest'
                },
                {
                    name: 'Colina Gellert y Estatua de la Libertad',
                    description: 'Subimos a la Colina Gellert para visitar la iglesia en la cueva y disfrutar de las vistas panorámicas desde la Estatua de la Libertad.',
                    images: ['/assets/europa/colina_gellert.jpg'],
                    longitude: 19.0470,
                    latitude: 47.4869,
                    mapUrl: 'map-colina-gellert'
                },
                {
                    name: 'Castillo de Buda y Palacio Real',
                    description: 'Recorremos el Castillo de Buda y el Palacio Real, donde se encuentra la Galería Nacional Húngara.',
                    images: ['/assets/europa/castillo_buda.jpg'],
                    longitude: 19.0350,
                    latitude: 47.4965,
                    mapUrl: 'map-castillo-buda'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 07 - Budapest: Bastión de los Pescadores y Barrio Judío',
                activities: [
                {
                    name: 'Bastión de los Pescadores',
                    description: 'Madrugamos para visitar el Bastión de los Pescadores, un lugar icónico con vistas increíbles a la ciudad.',
                    images: ['/assets/europa/bastion_pescadores.jpg'],
                    longitude: 19.0345,
                    latitude: 47.5014,
                    mapUrl: 'map-bastion-pescadores'
                },
                {
                    name: 'Iglesia de Matías y Laberinto del Castillo de Buda',
                    description: 'Visitamos la Iglesia de Matías y exploramos el Laberinto del Castillo de Buda.',
                    images: ['/assets/europa/iglesia_matias.jpg'],
                    longitude: 19.0343,
                    latitude: 47.5009,
                    mapUrl: 'map-iglesia-matias'
                },
                {
                    name: 'Barrio Judío de Budapest',
                    description: 'Terminamos el día con un Free Tour por el Barrio Judío, visitando la Gran Sinagoga y monumentos históricos como el Memorial de Carl Lutz.',
                    images: ['/assets/europa/barrio_judio_budapest.jpg'],
                    longitude: 19.0631,
                    latitude: 47.4974,
                    mapUrl: 'map-barrio-judio-budapest'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 08 - Budapest: Basílica de San Esteban y Parque Varosliget',
                activities: [
                {
                    name: 'Basílica de San Esteban',
                    description: 'Visitamos la Basílica de San Esteban, donde se puede subir a la cúpula para disfrutar de vistas de la ciudad.',
                    images: ['/assets/europa/basilica_san_esteban.jpg'],
                    longitude: 19.0503,
                    latitude: 47.5009,
                    mapUrl: 'map-basilica-san-esteban'
                },
                {
                    name: 'Parque Varosliget y Plaza de los Héroes',
                    description: 'Exploramos el Parque Varosliget y la Plaza de los Héroes, donde se encuentra el Castillo de Vajdahunyad.',
                    images: ['/assets/europa/plaza_heroes.jpg'],
                    longitude: 19.0814,
                    latitude: 47.5145,
                    mapUrl: 'map-plaza-heroes'
                },
                {
                    name: 'Paseo por el Danubio',
                    description: 'Terminamos el día con un paseo por el Danubio, disfrutando de las vistas de Buda desde Pest.',
                    images: ['/assets/europa/danubio_budapest.jpg'],
                    longitude: 19.0480,
                    latitude: 47.4984,
                    mapUrl: 'map-danubio-budapest'
                }
                ]
            }">
        </app-itinerary-day-card>

        <app-itinerary-day-card 
            [borderClass]="'border-blue'"
            [day]="{
                title: 'Día 09 - Budapest: Baños Szechenyi',
                activities: [
                {
                    name: 'Baños Széchenyi',
                    description: 'Nos relajamos en los famosos baños termales Széchenyi antes de ir al aeropuerto para nuestro vuelo de regreso.',
                    images: ['/assets/europa/banos_szechenyi.jpg'],
                    longitude: 19.0844,
                    latitude: 47.5189,
                    mapUrl: 'map-banos-szechenyi'
                }
                ]
            }">
        </app-itinerary-day-card>






    </mat-tab>








  
        
      <!-- Tab Precio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">euro_symbol</mat-icon>
          <span class="custom-tab-text">Precio</span>
        </ng-template>
        <p>Aquí encontrarás la información sobre los costos del viaje.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  

