<div class="content-container">
  <!-- Sticky tabs fuera del flujo de scroll -->


  <mat-tab-group 
      [selectedIndex]="0" 
      class="mobile-tab-style sticky-tabs-group" 
      style="height: calc(100vh - 64px); overflow: hidden;">
      <!-- Tab Inicio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">travel_explore</mat-icon>
          <span class="custom-tab-text">Inicio</span>
      </ng-template>
        <init-japan-component></init-japan-component>
      </mat-tab>
  
      <!-- Tab Recomendaciones -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">thumb_up</mat-icon>
          <span class="custom-tab-text">Recomendaciones</span>
        </ng-template>
        <div class="intro-content">
          <p>
            <strong class="accent-text">Descubre consejos esenciales para que tu viaje sea inolvidable.</strong> 
            En esta sección hemos recopilado información detallada y práctica sobre todo lo que necesitas para disfrutar al máximo de tu experiencia en Japón. 
            Desde cómo moverte con facilidad en el transporte público, hasta dónde encontrar los mejores restaurantes y cómo optimizar tu presupuesto 
            con tarjetas electrónicas y moneda local.
          </p>
        
          <p>
            <strong class="accent-text">¡No esperes más!</strong> Empieza explorando las secciones a continuación y conviértete en un experto planificando tu aventura japonesa.
          </p>
          <japan-recomendations-component></japan-recomendations-component>
        </div>
      </mat-tab>
  
      <!-- Tab Itinerario -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">route</mat-icon>
          <span class="custom-tab-text">Itinerario</span>
        </ng-template>

        <Kyoto-days-component></Kyoto-days-component>
      </mat-tab>
  
      <!-- Tab Precio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">euro_symbol</mat-icon>
          <span class="custom-tab-text">Precio</span>
        </ng-template>
        <p>Aquí encontrarás la información sobre los costos del viaje.</p>
      </mat-tab>
    </mat-tab-group>
</div>
  
