/* Contenedor principal */
.content-container {
    padding: 0px 200px;
    background: linear-gradient(to bottom, white, #f0f0f0);
    min-height: 90vh;
}


.mat-tab-label {
display: flex;
align-items: center;
font-size: 18px;
font-weight: 600;
padding: 12px;
transition: color 0.3s ease;
}
  

.custom-tab-label {
    display: flex;
    align-items: center; /* Centra el icono y el texto verticalmente */
    padding: 10px 20px; /* Añade espacio alrededor del contenido */
    background-color: #ffffff; /* Fondo por defecto */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}



.custom-icon {
    font-size: 25px; /* Tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.custom-tab-text {
    font-size: 25px; /* Tamaño del texto */
    font-weight: 600; /* Peso de la fuente */
    transition: color 0.3s; /* Transición suave para el color del texto */
}

/* Si quieres cambiar el color del texto al pasar el ratón */

