<div class="content-container">
  <!-- Sticky tabs fuera del flujo de scroll -->


  <mat-tab-group 
      [selectedIndex]="selectedTabIndex"
      (selectedIndexChange)="onTabChanged($event)"
      class="mobile-tab-style sticky-tabs-group" 
      style="height: calc(100vh - 64px); overflow: hidden;">
      <!-- Tab Inicio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">travel_explore</mat-icon>
          <span class="custom-tab-text">Inicio</span>
      </ng-template>
        <init-japan-component (goToItinerary)="changeTab($event)"></init-japan-component>
      </mat-tab>
  
      <!-- Tab Recomendaciones -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">thumb_up</mat-icon>
          <span class="custom-tab-text">Recomendaciones</span>
        </ng-template>
        <div class="intro-content">
          <japan-recomendations-component></japan-recomendations-component>
        </div>
      </mat-tab>
  
      <!-- Tab Itinerario -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">route</mat-icon>
          <span class="custom-tab-text">Itinerario</span>
        </ng-template>

        <Kyoto-days-component [currentTab]="selectedTabIndex"></Kyoto-days-component>
      </mat-tab>
  
      <!-- Tab Precio -->
      <mat-tab>
        <ng-template mat-tab-label class="custom-tab-label">
          <mat-icon class="custom-icon">euro_symbol</mat-icon>
          <span class="custom-tab-text">Precio</span>
        </ng-template>
        <p>Aquí encontrarás la información sobre los costos del viaje.</p>
        <japan-price-component></japan-price-component>
      </mat-tab>
    </mat-tab-group>
</div>
  
