<mat-expansion-panel class="section-card" [(expanded)]="panelOpenState">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="panel-icon">restaurant</mat-icon>
      Restaurantes
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div 
    id="general" 
    class="tab-content" 
    [class.active]="isTabActive('general')">

      <!-- Botones de las pestañas -->
      <div class="tabs">
        <button *ngFor="let tab of tabs"
                class="tab-button"
                [class.active]="isTabActive(tab.id)"
                (click)="openTab(tab.id)">
            {{tab.name}}
        </button>
      </div>

      <div class="food-guide-container">
        <p class="intro-text">La gastronomía japonesa ofrece una experiencia única para el viajero. Aquí encontrarás información esencial para disfrutar de la comida durante tu viaje sin sorpresas.</p>
        
        <div class="food-guide-row">
          <div class="food-guide-column left-column">
            <div class="guide-section">
              <h4>¿Cómo es comer en Japón?</h4>
              <ul class="food-list">
                <li><strong>Barato</strong>: Es súper barato comer en Japón, sobre todo con opciones locales. Puedes comer un ramen o un bol de arroz por menos de 500 JPY (un poco más de 4 euros).</li>
                <li><strong>Horarios</strong>: Se come y cena bastante pronto. La comida suele ser entre las 12:00 y las 13:00 horas y la cena alrededor de las 18:00 horas. Esto es importante si pretendes dilatar tus visitas por la tarde.</li>
                <li><strong>Especialización</strong>: Los restaurantes suelen estar especializados en un tipo de comida: ramen, sushi, okonomiyaki, gyozas...</li>
                <li><strong>Sin sobremesa</strong>: Los japoneses se sientan, comen (rápido) y se van. La sobremesa no es habitual. A su vez el proceso de espera es distinto a los paises europeos. En la mayoría de establecimientos deberas sacar un ticket con la comanda en una máquina, posteriormente deberas hacer cola (en el caso de que esten llenos los sitios del establecimiento) y cuando llegue tu turno te sentaras en la mesa con el plato ya preparado y listo para comer. Una vez terminado deberas salir sin ningún tipo de sobremesa.</li>
                <!-- <li><strong>Menús concisos</strong>: La carta de los restaurantes locales suelen ser cortas y concisas. Tienen pocas opciones pero todas muy buenas.</li> -->
                <!-- <li><strong>Nada de postre</strong>: No es típico tomar postre después de comer en el mismo restaurante. Sí que toman café.</li> -->
                <li><strong>Pago en efectivo</strong>: Algunos restaurantes pequeños, sobre todo fuera de las grandes ciudades, no aceptan tarjetas de crédito. Te recomendamos que siempre lleves dinero en efectivo y por supuesto nunca dejes propina.</li>
                <!-- <li><strong>Etiqueta con palillos</strong>: Si sabes comer con palillos, recuerda no clavarlos nunca en la comida, está considerado de mal gusto.</li> -->
                <li><strong>Bebidas gratuitas</strong>: En los restaurantes es muy habitual que el té y el agua sean gratis.</li>
              </ul>
            </div>
          </div>
      
          <div class="food-guide-column right-column">
            <div class="tip-box">
              <div class="tip-header">
                <span class="tip-icon">💡</span>
                <h4>Consejos prácticos</h4>
              </div>
              <ul class="tip-list">
                <li>Sorber los fideos del ramen no es de mala educación, de hecho es algo bastante habitual</li>
                <li>Los combini son la mejor manera de ahorrar en comida con numerosas opciones preparadas, además ofrecen una excelente relación calidad precio.</li>
                <li>Encontrarás muchas cafeterías en las grandes ciudades para un desayuno occidental</li>
                <li>En la mayoría de sitios se come con palillos (hasta el ramen), por lo que es un buen momento para aprender jejeje, sin embargo, siempre podrás pedir utensilios. A su vez recuerda nunca clavarlos en la comida, está considerado de mal gusto.</li>

              </ul>
            </div>
          </div>
        </div>
        
        <mat-expansion-panel class="section-card">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="panel-icon">ramen_dining</mat-icon>
              Platos típicos que debes probar
            </mat-panel-title>
          </mat-expansion-panel-header>

          
          <div class="guide-section">
            <div class="platos-container">
              <div class="platos-content">
                <ul class="food-list">
                  <li><strong>Ramen</strong> - Este plato es un must. Es donde más notamos la diferencia en calidad y sabor con los que podemso probar en España. Existe una enorme variedad de caldos y tipos, desde carnes hasta pescados. Nuetsra recomendación es que te dejes sorprender por la receta de cada restaurante. </li>

                  <li><strong>Sushi</strong> - El plato japonés más conocido. Otro de los platos imprescindibles que debes probar. Te recomendamos que busques alguna casa tradicional conocidas como barras de sushi.</li>

                  <li><strong>Takoyaki</strong> - Plato callejero por excelencia. Te recomedamos que pruebes todo lo callejero, suelen tener una enorme calidad y estan genial d eprecio</li>

                  <li><strong>Okonomiyaki</strong> - Plato desconcoido para nosotros en un incio. Nos sorprendió mucho, auqnue es importante acertar en el sitio, en nuestro caso probamos dos y notamos mucha diferencia netre ellos, de todas formas super recomendado.</li>

                  <li><strong>Tempura y Tonkatsu</strong> Rebozados y fritos típicos japoneses. Carnes, vegetales o pescados empanados y fritos. No son nada grasientos como parece. Lo spodrás encontrar en un monton de establecimientos como en puestos callejeros.</li>

                  <li><strong>Gyoza</strong> - Otro imprescindible, pruebalas todas y déjate sorprende rpor los distintos rellenos, podrás salir de las típcias vegetales y de carne. Existen establecimientos que toda su carta son Gyozas, ¡Hasta los postres!</li>

                  <li><strong>Yakitori</strong> - Perfectas para una comida ligera y deliciosa. Otro d elos básicos d ela comida callejera. </li>


                  <li><strong>Wagyu</strong> - Este es un artículo más caro, no es para comerlo todos los días. Pero si te invitamos a que lo pruebes, es una de las carnes mejor valoradas del mundo.</li>
                  
                </ul>
              </div>
              

              <div class="image-carousel">
                <div class="carousel-container">
                  <div class="carousel-track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
                    <div class="carousel-slide" *ngFor="let image of images">
                      <img [src]="image.src" [alt]="image.alt" />
                      <p class="caption">{{ image.caption }}</p>
                    </div>
                  </div>
                  <button class="carousel-button prev" (click)="prevSlide()">&#10094;</button>
                  <button class="carousel-button next" (click)="nextSlide()">&#10095;</button>
                  <div class="carousel-dots">
                    <span 
                      *ngFor="let image of images; let i = index" 
                      class="dot" 
                      [class.active]="i === currentIndex"
                      (click)="goToSlide(i)">
                    </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </mat-expansion-panel>
        
        <!-- <div class="guide-section">
          <h4>Dónde comer según tu presupuesto</h4>
          <ul class="budget-list">
            <li><span class="budget-icon low">¥</span> <strong>Económico:</strong> Combini (tiendas de barrio con comida preparada), puestos de takoyaki y otros platos callejeros</li>
            <li><span class="budget-icon mid">¥¥</span> <strong>Medio:</strong> Restaurantes especializados de ramen, gyozas, yakitori</li>
            <li><span class="budget-icon high">¥¥¥</span> <strong>Premium:</strong> Restaurantes de wagyu, cenas kaiseki en ryokanes (comida muy elaborada de alta calidad)</li>
          </ul>
        </div> -->
        
        
      </div>

  </div>


  <div id="tokyo" class="tab-content" [class.active]="isTabActive('tokyo')">
    <div class="tabs">
      <button *ngFor="let tab of tabs"
              class="tab-button"
              [class.active]="isTabActive(tab.id)"
              (click)="openTab(tab.id)">
          {{tab.name}}
      </button>
    </div>
    <p>Tokyo, la gran ciudad, repleta de miles de opciones. A continuación podrás encontrar una lista de restaurante que acudimos nosotros, nuevamente, recomendamos perderse en las calles y dejarse impresionar. Por lo tanto, os recomendamos:</p>

    <app-card-service
    [day]="{
      title: 'Restaurantes en Tokyo',
      activities: [

        {name: '🍜 Ramen Nagi', 
        description: 
        '<strong>🍙 Especialidad: </strong> Ramen 
        <strong>🕛 Horario:</strong>  24h 
        <strong>⭐ Valoración Google: </strong>4,2 / 5 
        <strong>💴 Precio:</strong> 1000 - 2000 Yenes. <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Ramen+Nagi/@35.6935922,139.7042602,19.5z/data=!3m1!5s0x60188cd964ae28b3:0x6328023e3ec7d3bc!4m6!3m5!1s0x60188cd9649e1203:0x8874927a180e8143!8m2!3d35.6937641!4d139.7045255!16s%2Fg%2F1th0mx2r?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D
        
        En pleno centro de Shinjuku en la zona del golden gai, encontramos este pequeño restaurante de ramen. Es un local muy pequeño, con una barra y una mesa para 4 personas. Además, es un restaurante muy valorado por lo que suele existir una gran cola (aprox 1h de espera, si quereis saber nuestra opinión, compensa claramente)
        
        La especialidad de la casa es el ramen, y la verdad es que es impresionante. Pedimos dos tipos de caldos, uno más típico de carne y uno segundo de pescado con sardinas que estaba IN - CRE -I - BLE, sin duda, <strong>un lugar recomendadísimo para probar un buen ramen en Tokyo. Entra directamente al top 3 de restaurantes</strong>'
        , 
        images: [ 
          '/assets/japan/Recomendations/Comida/Restaurantes_Tokyo/Nagi.HEIC', 
          '/assets/japan/Recomendations/Comida/Restaurantes_Tokyo/Nagi_2.JPG', 
        ], 
        longitude: 139.70451232830032, 
        latitude: 35.693790429861714, 
        mapUrl: 'map-shinjuku' },

          ]}">
    </app-card-service>

  </div>

  <div id="kyoto" class="tab-content" [class.active]="isTabActive('kyoto')">
    <div class="tabs">
      <button *ngFor="let tab of tabs"
              class="tab-button"
              [class.active]="isTabActive(tab.id)"
              (click)="openTab(tab.id)">
          {{tab.name}}
      </button>
    </div>

    <p>En esta sección hemos realizado una recopilación de los mejores restaurantes de la ciudad de Kyoto y alrededores. No es una guia que debas seguir, te invitamos a perderte y que tú explores por tu cuenta. Sin embargo, si creemos uqe en caso de que tengas dudas o no tengas el timepo necesario aquí recogemos nuestra selección de restaurantes:</p>

    <app-card-service
    
      [day]="{
        title: 'Restaurantes en Kyoto',
        activities: [
        
          {
            name: '🍜 Mensho Takamatsu - Main Shop',
            description: 
              '<strong>🍙 Especialidad: </strong> Ramen
              <strong>🕛 Horario:</strong>  11:00 - 23:00h 
              <strong>⭐ Valoración Google: </strong>4,2 / 5    
              <strong>💴 Precio:</strong> 1000 Yenes
              <strong>🌐Sitio web:</strong> https://www.google.com/maps/place/Mensho+Takamatsu+-+Main+Shop/@35.006261,135.7601055,18z/data=!3m2!4b1!5s0x6001087c7dac8d65:0xa376536949e4dbb!4m6!3m5!1s0x6001089a90536977:0x3a8c70a24465313a!8m2!3d35.006261!4d135.7608492!16s%2Fg%2F1tj5l182?entry=ttu&g_ep=EgoyMDI1MDMyNC4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D


              Tras llegar a Kyoto y pasar por el hotel para realizar las gestiones del check-in, salimos fuera a cenar. Este fue el primer ramen que que tomamos en nuestra visita a Japón. Al ser el primero, nos encantó y recomendamos su visita. Cada local realiza su propio caldo, por lo que la calidad es muy alta, y cada uno sabe muy diferente a los demás. Pedimos un ramen completo con huevo, fideos y carne, todo muy rico y por un precio bastante bajo (algo que nos dimos cuenta que se repetiría el resto de días). Además, cierra bastante tarde para ser Japón, eso nos salvó. 
              ',
            images: [
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Mensho_ramen.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Mensho_entrada.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Mensho_variado.jpg',

            ],
            longitude: 135.76084710119076 ,
            latitude: 35.0062697679108, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🍜 Hagi Charyo',
            description: 
              '<strong>🍙 Especialidad: </strong>Ramen
              <strong>🕛 Horario:</strong>  11:30 - 21:00h
              <strong>⭐ Valoración Google: </strong> 4,1 / 5 
              <strong>💴 Precio:</strong> 2000 - 3000 Yenes
              <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Hagi+Charyo/@35.0001511,135.779886,15z/data=!4m6!3m5!1s0x600108c53bd3bdfb:0xb8fc9b5ad8cf8eb6!8m2!3d35.0001538!4d135.7798137!16s%2Fg%2F1tczdt4p!5m1!1e4?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D

              Tras una mañana super completa encontramos este remanso de paz en una de las calles principales entre el Templo Kiyomizu-dera y el Templo Chion-in. La experiencia fue inmejorable. Se trata de un restaurante de ramen (principalmente) muy casero. Además cruzando la puerta principal llegas hasta un jardín con estanque muy tranquilo que te separa del ajetreo de la calle principal.

              ',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hagi_Charyo.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hagi_Charyo_interior.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hagi_Charyo_2.JPG',
            ],
            longitude: 135.77972787370666  ,
            latitude: 35.00036027800673, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🍣 Hatsune Sushi',
            description: 
              '<strong>🍙 Especialidad: </strong> Sushi
              <strong>🕛 Horario:</strong>  11:00 - 19:30h 
              <strong>⭐ Valoración Google: </strong> 4,8 / 5    
              <strong>💴 Precio:</strong> 2000 - 3000 Yenes 
              <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Hatsune+Sushi/@34.3914342,132.4593265,17.37z/data=!3m1!5s0x600108e7d487b727:0x756843947f55cf66!4m6!3m5!1s0x600108e7d49945bf:0x56072da24e9f1d0!8m2!3d35.010098!4d135.780829!16s%2Fg%2F1tfb1x1b!5m1!1e4?hl=es&entry=ttu&g_ep=EgoyMDI1MDMxOS4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D

              Hatsune Sushi es un pequeño y encantador restaurante familiar en Kioto que se ha convertido en un tesoro culinario para los amantes del sushi. Con solo 7 asientos, este establecimiento fundado en 1935 ofrece una experiencia gastronómica íntima donde los comensales pueden observar a una adorable pareja de ancianos preparar sushi de manera artesanal y tradicional.

              La calidad del sushi es extraordinaria, con pescados frescos y sabores auténticos que many visitantes describen como el mejor sushi que han probado en Japón. El restaurante destaca por su ambiente acogedor, su menú limitado pero exquisito y su servicio personalizado, donde los propietarios, a pesar de las barreras del idioma, hacen sentir a cada cliente como en casa. Solo acepta pagos en efectivo y se recomienda llegar temprano debido a su reducido número de plazas. <strong>Sin duda alguna, restaurante recomendadísimo.</strong>
              ',
            images: [
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hatsune_barra.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hatsune_plato.HEIC',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hatsune.JPG',
            
            ],
            longitude: 135.78084855470368 ,
            latitude: 35.01035000106624, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🍣 Sushi Sei',
            description: 
              '<strong>🍙 Especialidad: </strong> Sushi
              <strong>🕛 Horario:</strong>  11:30 - 21:00h 
              <strong>⭐ Valoración Google: </strong> 4,1 / 5    
              <strong>💴 Precio:</strong> 2000 - 3000 Yenes
              <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Sushi+Sei/@35.0043554,135.7621596,19z/data=!3m1!4b1!4m6!3m5!1s0x60010890ca8d51d5:0xe90d2ed3124d9cc9!8m2!3d35.0043543!4d135.7628033!16s%2Fg%2F1tghd0y3!5m1!1e4?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNC4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D

              Acudimos a este restaurante porque presentaba muy buena nota en Google, además, su ubicación es muy céntrica (perfecta para cenas no muy lejos del hotel). Sin embargo, no nos sorprendió la calidad del producto y su precio es algo elevado. Es ese tipo de sitios que ha cogido fama por el turismo y se aleja de la experiencia local. A su vez el servicio de camareros no es rápido y no presenta la típica amabilidad y atención de otros sitios. Finalmente nos invitaron a un postre , qu epara ser sinceros, estab arealmente malo. <strong>No lo recomendamos.</strong>

              ',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Sushi_Sei.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Sushi_Sei_plato.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Sushi_Sei_postre.jpg',
            ],
            longitude: 135.7626989006083 ,
            latitude: 35.00436548961748, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🍜 Hanamakiya',
            description: 
              '<strong>🍙 Especialidad: </strong>Ramen 
              <strong>🕛 Horario:</strong>  11:30 - 16:00h 
              <strong>⭐ Valoración Google: </strong> 4,5 / 5 
              <strong>💴 Precio:</strong> 1000 - 2000 Yenes
              <strong>🌐Sitio web:</strong>https://www.google.es/maps/place/Hanamakiya/@35.0390952,135.7337473,15z/data=!4m6!3m5!1s0x600107f54581b3df:0x546a9b6f478c65a0!8m2!3d35.0390952!4d135.7337455!16s%2Fg%2F1tmpdv39!5m1!1e4?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNC4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D

              Ubicado a pocos minutos del icónico Pabellón Dorado de Kioto. Especializado en fideos udon y soba. Es un restaurante pequeño, pero ofrece la experiencia japonesa al completo, en nuestro caso nos decidimos a comer en la tarima y fue todo un acierto, poder experimentar la experiencia local. Nos decidimos por un ramen con fideos Udón a su vez el restaurante cuenta con toda una carta de tempura, ramenes y muchos platos más.<strong> Completamente recomendado el restaurante</strong>
              ',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hanamakiya_ramen.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hanamakiya_carne.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hanamakiya_entrada.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hanamakiya_sentados.JPG',
            ],
            longitude: 135.73374287767365  ,
            latitude: 35.03910565177847, 
            mapUrl: 'map-shinjuku'
          },

          {
            name: '🍜 Menya Yukou', 
            description: 
            '<strong>🍙 Especialidad: </strong> Ramen 
            <strong>🕛 Horario:</strong>  11:00 - 22:00h 
            <strong>⭐ Valoración Google: </strong>4,3 / 5 
            <strong>💴 Precio:</strong> 1000 - 2000 Yenes. <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Menya+Yukou/@35.0098334,135.7591162,19z/data=!4m6!3m5!1s0x60010885adb25555:0xcaf18551bb99da0a!8m2!3d35.0097807!4d135.7593495!16s%2Fg%2F11fz9hwj7q!5m1!1e4?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D
            
            Restaurante tradcionak, como siempre en Japón de tamaño pequeño pero de alta calidad, aunque suene repetitivo, la calidad de los ramen en Japón es muy alta y aun precio muy bajo.Consta de dos plantas y como curiosidad suben el ramen en un ascensor para platos <strong>Recomendado por nuestra parte</strong>'
            , 
            images: [ 
              '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Menya_3.JPG', 
              '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Menya.JPG',
              '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Menya_2.JPG', 
            ], 
            longitude: 135.75933725133513 , 
            latitude: 35.00980910425328, 
            mapUrl: 'map-shinjuku' }
          ,
          {
            name: '🥗 kyoto tower sando',
            description: 
              '<strong>🍙 Especialidad: </strong> Variedad  
              <strong>🕛 Horario:</strong>  11:30 - 22:00h 
              <strong>⭐ Valoración Google: </strong> 4,5 / 5 
              <strong>💴 Precio:</strong> 1000 - 3000 Yenes
              <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/WAGYU+STEAK+%26+BURGER,+NICK+STOCK+Kyoto+Tower/@34.9875099,135.7592502,21z/data=!3m1!5s0x600108afa9039257:0x6500bc26383b8a9d!4m15!1m8!2m7!1sRestaurantes!3m5!2sTorre+de+Kioto!3s0x600108afa856da77:0xec2916eeff97bfd4!4m2!1d135.7592518!2d34.9875205!3m5!1s0x6001095c27e347ed:0xf936e7d5e6c96d32!8m2!3d34.9875538!4d135.7593888!16s%2Fg%2F11rcs0l3zw?hl=es&entry=ttu&g_ep=EgoyMDI1MDMxOS4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D

              Esta opción es ideal para cenas o para aquellos días en los que se busca un ambiente más dinámico. Se trata de una galería gastronómica ubicada en la Torre de Kioto, junto a la estación, donde más de 30 food trucks de reconocidos restaurantes ofrecen una amplia variedad de especialidades. Desde crujiente pollo frito con miel y mostaza hasta hamburguesas de wagyu o Kobe, sin olvidar los irresistibles gofres y otros postres artesanales.

              El espacio destaca por su atmósfera vibrante y urbana, reflejando el dinamismo de la vida nocturna japonesa. Es una experiencia culinaria que combina la calidad de la gastronomía local con un entorno animado y moderno, convirtiéndolo en una parada imprescindible para quienes desean disfrutar de una cena diferente en Kioto. <strong> Altamente recomendado</strong>',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower_pollo.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower_junto.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower_gyozas.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower_vapor.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower_postre.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/kyototower_3.JPG',
            ],
            longitude: 135.75939032031857   ,
            latitude: 34.98756236457406, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🥟 Chao Chao Gyoza - Shijo Kawaramachi',
            description: 
              '<strong>🍙 Especialidad: </strong> Gyozas  
              <strong>🕛 Horario:</strong>  14:00 - 23:00h 
              <strong>⭐ Valoración Google: </strong> 4,5 / 5 
              <strong>💴 Precio:</strong> 1000 - 2000 Yenes
              <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Chao+Chao+Gyoza+-+Shijo+Kawaramachi/@35.0028423,135.7681949,17z/data=!3m2!4b1!5s0x600108948e14b4bb:0xb3a5a2074ebc7f9e!4m6!3m5!1s0x600108bfd8b2390d:0x26a0f5e31e03c4ae!8m2!3d35.0028401!4d135.7694824!16s%2Fg%2F11f53n2brn?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D

              Este restaurante en Kyoto es, sin duda, uno de los mejores lugares para disfrutar de gyozas. Ofrecen una amplia variedad de sabores, desde las clásicas de cerdo hasta opciones más innovadoras como las de queso y langostinos, todas con una masa fina y crujiente. El ambiente es animado y acogedor, con un personal increíblemente amable que incluso habla en varios idiomas, haciendo que la experiencia sea aún más especial.

              Aunque suele haber algo de espera, el esfuerzo vale la pena. Las gyozas son deliciosas y el precio es muy razonable para la calidad que ofrecen. Además, la atención al detalle y el trato cercano del personal hacen de este lugar una parada obligada para los amantes de la cocina japonesa en Kyoto. <strong> Sin duda, una experiencia que no te puedes perder. Altamente recomendado</strong>',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/ChaoChaoGyoza.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/ChaoChaoGyoza2.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/ChaoChaoGyoza3.jpg',
            ],
            longitude: 135.7694555780454   ,
            latitude: 35.00291919414915, 
            mapUrl: 'map-shinjuku'
          },
          
          {
            name: '🥗 Comida de puestos locales',
            description: 
              '<strong>🍙 Especialidad: </strong> Variedad  
              <strong>🕛 Horario:</strong>  Variado 
              <strong>⭐ Valoración Google: </strong> - / 5 
              <strong>💴 Precio:</strong> -

              A lo largo de todo el viaje probamos todo tipo de comida callejera, aqui no os podemos dar un consejo, simplemente dejaros llevar y probar todo aquello que os llame la atención. Japón es un pais muy limpio por lo que no debes preocuparte por la calidad de la comida como otros países asiáticos.

              Si nos gustaría darte un consejo, en la mayoría de estaciones grandes como la de Kyoto, existen grandes centros comerciales integrados y dentro de ellos hay tiendas de comida rápida excelente que puedes llevarte al hotel/apartamento para cenar tranquilamente alli. Muchas de estas comidas son de una altísima calidad y muy económicas , en nuestro caso, arrasamos varias noches con todo tipo de platos cocinados al vapor. Una excelente opción apra los días que estes mas cansado y solo quieras ducharte cenar y tumbarete en la cama.
              ',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/callejera.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/callejera_2.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/callejera_3.JPG'
            ],
            longitude: 135.7599032031857   ,
            latitude: 34.98876236457406, 
            mapUrl: 'map-shinjuku'
          }
          ]}">
    </app-card-service>
  </div>


  <div id="osaka" class="tab-content" [class.active]="isTabActive('osaka')">
    <div class="tabs">
      <button *ngFor="let tab of tabs"
              class="tab-button"
              [class.active]="isTabActive(tab.id)"
              (click)="openTab(tab.id)">
          {{tab.name}}
      </button>
    </div>
    
    <p>En esta sección hemos realizado una recopilación de los mejores restaurantes de la ciudad de Kyoto y alrededores. No es una guia que debas seguir, te invitamos a perderte y que tú explores por tu cuenta. Sin embargo, si creemos uqe en caso de que tengas dudas o no tengas el timepo necesario aquí recogemos nuestra selección de restaurantes:</p>

    <app-card-service
    
      [day]="{
        title: 'Restaurantes en Osaka',
        activities: [
        
          {
            name: '🍳 Namba Okonomiyaki Ajinoya Honten',
            description: 
              '<strong>🍙 Especialidad: </strong> Okonomiyaki
              <strong>🕛 Horario:</strong>  11:00 - 22:00h 
              <strong>⭐ Valoración Google: </strong>4,3 / 5    
              <strong>💴 Precio:</strong> 1000 - 2000 Yenes.
              <strong>🌐Sitio web:</strong> https://www.google.com/maps/place/Namba+Okonomiyaki+Ajinoya+Honten/@34.668065,135.500976,17z/data=!3m1!4b1!4m6!3m5!1s0x6000e71370f515bd:0xbc2902b4000717ce!8m2!3d34.668065!4d135.500976!16s%2Fg%2F1w2ytsk3?entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D
              
              Nos decidimos a comer en uno de los restaurantes mas populares  (y orientados para turistas todo hay que decirlo) de Osaka. Tienen el famoso plato de  Okonomiyaki. La verdad es que no nos gustó mucho la experiencia, ya que esta muy orientado a turista y la calidad es más baja que otros Okonomiyaki (el mejor que probamso era en Hirosima). Todo comenzó con una cola de 1h de espera, para posteriormente servirnos a modo de <espectáculo> el plato. Pero la verdad es que nos decepcionó un poco. También pedimos unos Takoyaki y si nos gustaron un poco más.
              ',
            images: [
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Osaka1.HEIC',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Osaka2.HEIC',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Osaka3.HEIC',

            ],
            longitude: 135.5009755146303  ,
            latitude: 34.66807247532061, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🍰 Rikuro Ojisan Namba',
            description: 
              '<strong>🍙 Especialidad: </strong>tartas de queso
              <strong>🕛 Horario:</strong>  11:30 - 21:00h
              <strong>⭐ Valoración Google: </strong> 4,1 / 5 
              <strong>💴 Precio:</strong> 2000 - 3000 Yenes
              <strong>🌐Sitio web:</strong>

              Para obligatoria para uno de los mejores postres que probamos en todo Japón. En todo el centro de Osaka, podras hacerte con una de las mejores tartas de queso. Este famoso cotton cheesecake se caracteriza por su textura increíblemente esponjosa y ligera, tanto que parece temblar cuando sale recién horneado y es marcado con el sello distintivo de la tienda. 
              
              Compeltamente recomendado. Es necesario dejarla reposar un par d ehoras, en nuestro caso, nos la comimos tranquilamente en el hotel a la vuelta y nos duró para varios dias. Puro espectáculo.

              ',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Rikuro.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Rikuro_2.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Rikuro_3.webp',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Rikuro_3.JPG',
            ],
            longitude: 135.50157152929953,
            latitude: 34.66616555303791, 
            mapUrl: 'map-shinjuku'
          }
          ,
          {
            name: '🥩 Wagyu Teppanyaki OUSAKA',
            description: 
              '<strong>🍙 Especialidad: </strong>Carne
              <strong>🕛 Horario:</strong>  17:00 - 23:00h
              <strong>⭐ Valoración Google: </strong> 4,7 / 5 
              <strong>💴 Precio:</strong> 10000 Yenes
              <strong>🌐Sitio web:</strong> https://www.google.com/maps/place/Wagyu+Teppanyaki+OUSAKA/@34.7168271,135.477991,16z/data=!3m1!5s0x6000e5d10707a74d:0x36d49a86f4216d13!4m6!3m5!1s0x6000e5d1a9debeb5:0x48824eef9796005f!8m2!3d34.7170571!4d135.4806537!16s%2Fg%2F1tf6x74v?entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D

              <strong> A este restaurante no acudimos </strong>. Sin embargo es uno de los restaurantes más selectos de todo japón. Ubicado en el piso 19 del Hotel Plaza Osaka, ofrece una experiencia gastronómica única con impresionantes vistas panorámicas de la ciudad. Especializado en carnes de alta calidad como el Wagyu A5, destaca por su cocina en vivo. 

              Aunque el precio puede ser elevado, la experiencia en Teppanyaki Ousaka justifica la inversión para los amantes de la carne y aquellos que buscan una cena exclusiva en Osaka. Con una atención al detalle impecable y un entorno sofisticado, este restaurante es ideal para ocasiones especiales, brindando una combinación perfecta de sabores, vistas y hospitalidad.
              ',
            images: [
            
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Teppanyaki_1.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Teppanyaki_2.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Teppanyaki_3.jpg',
            ],
            longitude: 135.48075908758995 ,
            latitude: 34.71736506247135, 
            mapUrl: 'map-shinjuku'
          }

          ]}">
    </app-card-service>

    
  </div>


  <div id="hirosima" class="tab-content" [class.active]="isTabActive('hirosima')">
    <div class="tabs">
      <button *ngFor="let tab of tabs"
              class="tab-button"
              [class.active]="isTabActive(tab.id)"
              (click)="openTab(tab.id)">
          {{tab.name}}
      </button>
    </div>

    <p>Respecto a la excursión de Hirosima fue nuevamente un día, por lo que sólo pudimos disfrutar de una comida allí pero fue todo un acierto, es el edificio Okonomimura. A su vez os dejamso otras opciones que son destacadas por las opiniones de diferentes webs de viajes.</p>

    <app-card-service
    
      [day]="{
        title: 'Restaurantes en Hirosima',
        activities: [
        
          {
            name: '🍳 Edificio Okonomimura',
            description: 
              '<strong>🍙 Especialidad: </strong> Okonomiyaki
              <strong>🕛 Horario:</strong>  11:00 - 22:00h 
              <strong>⭐ Valoración Google: </strong>4,3 / 5    
              <strong>💴 Precio:</strong> 1000 - 2000 Yenes.
              <strong>🌐Sitio web:</strong>

              Tras la pequeña decepción del Okonomiyaki que nos sirvieron en Osaka, nos decidimos a probar nuevamente el plato y darle otra oportunidad. Esto se debe a que Hirosima es la capital del Okonomiyaki, de hecho existe un edificio entero lleno de restaurantes de este plato típico, y allí es donden decidimos ir de nuevo.Fue todo un acirto la verdad. En este caso os recomendamos completamente ir al sitio y que os dejeis impresionar por el plato, 100% por 100% recomendado.
              
              ',
            images: [
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hirosima_oko.HEIC',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hirosima_oko_1.JPG',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Hirosima_oko_2.HEIC',

            ],
            longitude: 132.46199796397053  ,
            latitude: 34.39156694535538, 
            mapUrl: 'map-shinjuku'
          },
          {
            name: '🍳 Okonomiyaki Nagata-ya',
            description: 
              '<strong>🍙 Especialidad: </strong> Okonomiyaki
              <strong>🕛 Horario:</strong>  11:00 - 22:00h 
              <strong>⭐ Valoración Google: </strong>4,3 / 5    
              <strong>💴 Precio:</strong> 1000 - 2000 Yenes.
              <strong>🌐Sitio web:</strong> https://www.google.com/maps/place/Nagataya/@34.3943635,132.4535191,17.5z/data=!4m6!3m5!1s0x355aa20d1ba3a539:0x54a7e2f3d14117e5!8m2!3d34.394216!4d132.454485!16s%2Fg%2F1tl7lkf7?entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D

              <strong>🪧 Este restaurante no lo hemos visitado. Recomendado por otras webs</strong>.
              Cuando preparamos el itinerario dejamos este restaurante como una de las mejores opciones donde comer en la ciudad, cuenta con un gran número de opiniones y buenas reseñas. El problemas fue que no nos encajó en el itinerario de la ciudad ya que a la hora d ela comida no estábamos por esa zona.
              ',
            images: [
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Nagata_1.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Nagata_2.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Nagata_3.jpg',

            ],
            longitude: 132.45450646120162   ,
            latitude: 34.394331036286474, 
            mapUrl: 'map-shinjuku'
          },
          
          ]}">
    </app-card-service>

  </div>


  <div id="nara" class="tab-content" [class.active]="isTabActive('nara')">
    <div class="tabs">
      <button *ngFor="let tab of tabs"
              class="tab-button"
              [class.active]="isTabActive(tab.id)"
              (click)="openTab(tab.id)">
          {{tab.name}}
      </button>
    </div>
    <p>Respecto a la excursión de Hirosima fue nuevamente un día, por lo que sólo pudimos disfrutar de una comida allí pero fue todo un acierto, es el edificio Okonomimura. A su vez os dejamso otras opciones que son destacadas por las opiniones de diferentes webs de viajes.</p>

    <app-card-service
    
      [day]="{
        title: 'Restaurantes en Nara',
        activities: [
          {
            name: '🍜 Tenkaippin',
            description: 
              '<strong>🍙 Especialidad: </strong> Ramen
              <strong>🕛 Horario:</strong>  11:00 - 23:00h 
              <strong>⭐ Valoración Google: </strong>3,9 / 5    
              <strong>💴 Precio:</strong> 1000 - 2000 Yenes.
              <strong>🌐Sitio web:</strong> https://www.google.es/maps/place/Tenkaippin/@34.6822359,135.8288437,17z/data=!4m6!3m5!1s0x60013988094e2aed:0x28fa99921c032d25!8m2!3d34.6822359!4d135.8288437!16s%2Fg%2F1thd6lb9?hl=es&entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D

              El restaurante se encuentra al lado del estanque Sarusawa, es decir, en pleno centro turístico d eNara por lo que no tendreis que apenas moveros. Uno de los caldos de ramen más diferentes. Se aleja de la textura típica y es un poco más denso, personalmente fue una d emis favoritas, <strong> Completamente recomendado </strong>
              
              ',
            images: [
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Tenkaippin_1.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Tenkaippin_2.jpg',
            '/assets/japan/Recomendations/Comida/Restaurantes_Kyoto/Tenkaippin_3.jpg',

            ],
            longitude: 135.8288651488239 ,
            latitude: 34.682407960052295, 
            mapUrl: 'map-shinjuku'
          }
      
          ]}">
    </app-card-service>
  </div>

  

  

  

</mat-expansion-panel>