<mat-expansion-panel class="section-card" [(expanded)]="panelOpenState">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="panel-icon">attach_money</mat-icon>
      Dinero y Moneda en Japón
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="money-row">
    <div class="money-text">
      <p>
        En Japón, la moneda oficial es el <strong>yen japonés (JPY)</strong>. Aunque en ciudades grandes cada vez se acepta más el pago con tarjeta, <strong>el efectivo sigue siendo clave</strong> en muchos aspectos del día a día: pequeños restaurantes, tiendas tradicionales, entrada a templos ... <strong>Llevar siempre algo de dinero en metálico no es opcional: es necesario.</strong>
      </p>
    
      <h4>Cambiar dinero: ¿dónde y cómo?</h4>

      <ul>
        <li> El mejor tipo de cambio lo obtuvimos directamente en el aeropuerto de Tokio</li>
        <li> Puedes llevar yenes desde España ya cambiados en tu banco, pero ten en cuenta que <strong>las comisiones suelen ser bastante altas</strong> y el tipo de cambio es peor.</li>
        <li> Tiendas de cambio locales, presentan comisiones muy altas , no recomendado</li>
        <li><strong>Revolut</strong>: Esencial durante todo el viaje y fue una herramienta muy útil. Permite paga ren cualquier divisa con una comisión ínfima. Si aún no tienes cuenta, puedes unirte a través de nuestro enlace de invitación 👉 <a href="https://revolut.com/referral-link" target="_blank">[Únete a Revolut]</a>. Ya no solo esencial para este viaje sino para cualquier otro.</li>
      </ul>

      <h4>El yen, devaluado: ¿buena noticia para viajeros?</h4>
      <p>
        El yen lleva varios años devaluado respecto al euro. En nuestra gráfica puedes ver cómo ha evolucionado el cambio en los últimos cinco años: ahora <strong>1 EUR te da muchos más yenes que antes</strong>, aunque en el último año la tendencia se ha estabilizado. Esto significa que, aunque Japón no es un país barato, <strong>hoy puedes obtener más por tu dinero</strong>.
      </p>
    
      <h4>Precios en Japón</h4>
      <p>
        En general, <strong>comer puede ser sorprendentemente barato</strong>. Hay restaurantes donde puedes cenar por menos de 1.000 yenes y los supermercados ofrecen opciones preparadas muy económicas y de buena calidad.
      </p>
    </div>
    

    <div class="chart-wrapper">
      <h4>Evolución reciente del euro frente al yen (EUR → JPY):</h4>
      
      <canvas baseChart
      [datasets]="chartData.datasets"
      [labels]="chartData.labels"
      [options]="chartOptions"
      [type]="'line'">
    </canvas>
    </div>
  </div>

      


</mat-expansion-panel>
