mat-expansion-panel {
  margin-bottom: 15px;
  background-color: #ffffff;
  border-left: 5px solid #3f51b5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

mat-expansion-panel:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}



  /* Título e iconos */
.panel-icon {
  margin-right: 1rem;
  color: #3f51b5;
}

/* Tabs iniciales */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  transition: all 0.3s;
  position: relative;
}

.tab-button:hover {
  color: #333;
}

.tab-button.active {
  color: #3f51b5;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

.tab-content.active {
  display: block;
  opacity: 1;
}

.tab-button.active::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #3f51b5;
}


/* Contenedor principal */
.hotel-container {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.text-image-container {
  display: flex;
}
/* Sección de texto */
.text-container {
  flex: 1;
  height: 400px; /* Altura fija según requisito */
  overflow-y: auto;
}


.guide-section h4 {
  margin: 0 0 8px 0;
  color: #3f51b5;
  font-weight: 500;
  padding-left: 8px;
  border-left: 3px solid #3f51b5;
}


/* Contenedor de imagen */
.excursion-image-container {
  flex: 1;
  position: relative;
  height: 400px; /* Misma altura que el texto */
  display: flex;
  flex-direction: column;
}

.excursion-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* Controles de galería */
.gallery-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.gallery-button {
  background-color: #2563eb;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(229, 226, 226, 0.2);
}

.gallery-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* Botón de reserva */
.booking-section {
  margin-top: 2rem;
  text-align: center;
}

.booking-button {
  display: inline-block;
  background-color: #2563eb;
  color: white;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.booking-button:hover {
  background-color: #1d4ed8;
}

