<div class="content-container">
  <div class="intro-columns">
    <div class="intro-left">
      <h2>¡Bienvenido al itinerario de nuestro viaje a Japón!</h2>
      <p>Descubre de un vistazo cómo organizamos cada día y accede fácilmente a toda la información de tu viaje.</p>
      <p>Primero te presentamos en un calendario de forma muy resumida donde se indica la ciudad y el día de cada actividad. Este calendario te permite ver de un vistazo la distribución del viaje y las ciudades visitadas.</p>
      <p>Tras revisar el resumen-calendario, desplázate hacia abajo para explorar cada etapa del recorrido. Es aqui dónde comienza la guía detallada de cada día.</p>
    </div>
    <div class="intro-right">
      <ul>
        <li><mat-icon>calendar_month</mat-icon> Consulta el calendario para ver en qué ciudad estamos cada día, En Verde para Kyoto y para Tokyo</li>
        <li><mat-icon>explore</mat-icon> ¿Excursión o día en la ciudad? Los tonos claros y oscuros te lo cuentan.</li>
        <li><mat-icon>touch_app</mat-icon> Haz clic en cualquier jornada para ver la descripción, galería y mapa.</li>
        <li><mat-icon>devices</mat-icon>Da igual desde que dispositivo accedas, todo está organizado para ofrecer la mejor experiencia posible. </li>
      </ul>
    </div>
  </div>
</div>

<japan-calendar-component></japan-calendar-component>

<div class="zone-header">
  <img src="/assets/landing/minimal_japan.jpg" alt="Tokio" class="zone-banner">
  <h2 class="zone-title">Kyoto</h2>
  
  <div class="zone-info">
    <div class="info-item">
      <i class="fa-solid fa-calendar-days"></i>
      <span>Dias 1 - 8</span>
    </div>
    
    <div class="info-item">
      <i class="fa-solid fa-torii-gate"></i>
      <span>Conecta con lo tradicional</span>
    </div>
    <div class="info-item">
      <mat-icon class="custom-icon">temple_buddhist</mat-icon>
      <span>Capital de templos</span>
    </div>
    
  </div>
  <!-- <div class="progress-container">
    <div class="progress-bar"></div>
    <span>Dias 1 - 8</span>
  </div> -->
</div>

<div class="content-container">
  <mat-accordion >

    <app-itinerary-day-card 
      [borderClass]="day01Kyoto.borderClass"
      [day]="day01Kyoto.day">
    </app-itinerary-day-card>

    <div class="subzone-container">
      <div class="subzone-content">
        <h3>Descubre la Ciudad de Kyoto</h3>
      </div>
    </div>

    <app-itinerary-day-card 
      [borderClass]="day02Kyoto.borderClass"
      [day]="day02Kyoto.day">
    </app-itinerary-day-card>

    <app-itinerary-day-card 
      [borderClass]="day03Kyoto.borderClass"
      [day]="day03Kyoto.day">
    </app-itinerary-day-card>

    <app-itinerary-day-card 
      [borderClass]="day04Kyoto.borderClass"
      [day]="day04Kyoto.day">
    </app-itinerary-day-card>

    <app-itinerary-day-card 
      [borderClass]="day05Kyoto.borderClass"
      [day]="day05Kyoto.day">
    </app-itinerary-day-card>


    <div class="subzone-container">
      <div class="subzone-content">
        <h3>Excursiones desde Kyoto</h3>
      </div>
    </div>

    <app-itinerary-day-card 
      [borderClass]="day06Kyoto.borderClass"
      [day]="day06Kyoto.day">
    </app-itinerary-day-card>


    <app-itinerary-day-card 
      [borderClass]="day07Kyoto.borderClass"
      [day]="day07Kyoto.day">
    </app-itinerary-day-card>

    <app-itinerary-day-card 
      [borderClass]="day08Kyoto.borderClass"
      [day]="day08Kyoto.day">
    </app-itinerary-day-card>

  </mat-accordion>
</div>

<div class="zone-section">
  <div class="zone-header">
    <img src="/assets/landing/minimal_japan.jpg" alt="Tokio" class="zone-banner">
    <h2 class="zone-title">Tokyo</h2>
    <div class="zone-info">
      <div class="info-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Dias 9 - 15</span>
      </div>
      <div class="info-item">
        <i class="fas fa-city"></i>
        <span>Metrópolis moderna</span>
      </div>
      <div class="info-item">
        <i class="fas fa-utensils"></i>
        <span>Capital gastronómica</span>
      </div>
      
    </div>
  </div>
</div>

<div class="content-container">
  <mat-accordion>
  
    <app-itinerary-day-card 
        [borderClass]="day09Tokio.borderClass"
        [day]="day09Tokio.day">
    </app-itinerary-day-card>


    <div class="subzone-container">
        <div class="subzone-content">
          <h3>Excursiones desde Tokyo</h3>
        </div>
    </div>

    <app-itinerary-day-card 
        [borderClass]="day10Tokio.borderClass"
        [day]="day10Tokio.day">
    </app-itinerary-day-card>

    <app-itinerary-day-card 
        [borderClass]="day11Tokio.borderClass"
        [day]="day11Tokio.day">
    </app-itinerary-day-card>


    <div class="subzone-container">
      <div class="subzone-content">
        <h3>Descubre la Ciudad de Tokio</h3>
      </div>
    </div>

    <app-itinerary-day-card 
        [borderClass]="day12Tokio.borderClass"
        [day]="day12Tokio.day">
    </app-itinerary-day-card>

    <!-- Día 13: Tokio: Parque Yoyogi, Shibuya -->
    <app-itinerary-day-card 
        [borderClass]="day13Tokio.borderClass"
        [day]="day13Tokio.day">
    </app-itinerary-day-card>

    <!-- Día 14: Tokio: Chuo, Ginza y Odaiba -->
    <app-itinerary-day-card 
        [borderClass]="day14Tokio.borderClass"
        [day]="day14Tokio.day">
    </app-itinerary-day-card>

    <app-itinerary-day-card 
        [borderClass]="day15Tokio.borderClass"
        [day]="day15Tokio.day">
    </app-itinerary-day-card>

  </mat-accordion>
</div>