<div class="content-container">
    <div class="intro-columns">
      <div class="intro-left">
        <h2>¡Bienvenido al itinerario de nuestro viaje por centro europa!</h2>
        <p>Descubre de un vistazo cómo organizamos cada día y accede fácilmente a toda la información de tu viaje.</p>
        <p>Primero te presentamos en un calendario de forma muy resumida donde se indica la ciudad y el día de cada actividad. Este calendario te permite ver de un vistazo la distribución del viaje y las ciudades visitadas.</p>
        <p>Tras revisar el resumen-calendario, desplázate hacia abajo para explorar cada etapa del recorrido. Es aqui dónde comienza la guía detallada de cada día.</p>
      </div>
      <div class="intro-right">
        <ul>
          <li><mat-icon>calendar_month</mat-icon> Consulta el calendario para ver en qué ciudad estamos cada día, En Verde para Kyoto y para Tokyo</li>
          <li><mat-icon>explore</mat-icon> ¿Excursión o día en la ciudad? Los tonos claros y oscuros te lo cuentan.</li>
          <li><mat-icon>touch_app</mat-icon> Haz clic en cualquier jornada para ver la descripción, galería y mapa.</li>
          <li><mat-icon>devices</mat-icon>Da igual desde que dispositivo accedas, todo está organizado para ofrecer la mejor experiencia posible. </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="zone-header">
    <img src="/assets/landing/minimal_japan.jpg" alt="Tokio" class="zone-banner">
    <h2 class="zone-title">Kyoto</h2>
    
    <div class="zone-info">
      <div class="info-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Dias 1 - 8</span>
      </div>
      
      <div class="info-item">
        <i class="fa-solid fa-torii-gate"></i>
        <span>Conecta con lo tradicional</span>
      </div>
      <div class="info-item">
        <mat-icon class="custom-icon">temple_buddhist</mat-icon>
        <span>Capital de templos</span>
      </div>
      
    </div>
  </div> -->
  
  <div class="content-container">
    <mat-accordion >
  
      <app-itinerary-day-card 
        [borderClass]="day01Praga.borderClass"
        [day]="day01Praga.day">
      </app-itinerary-day-card>
  
    </mat-accordion>
  </div>
  
  <!-- <div class="zone-section">
    <div class="zone-header">
      <img src="/assets/landing/minimal_japan.jpg" alt="Tokio" class="zone-banner">
      <h2 class="zone-title">Tokyo</h2>
      <div class="zone-info">
        <div class="info-item">
          <i class="fa-solid fa-calendar-days"></i>
          <span>Dias 9 - 15</span>
        </div>
        <div class="info-item">
          <i class="fas fa-city"></i>
          <span>Metrópolis moderna</span>
        </div>
        <div class="info-item">
          <i class="fas fa-utensils"></i>
          <span>Capital gastronómica</span>
        </div>
        
      </div>
    </div>
  </div> -->
  
  <div class="content-container">

  </div>